body{
    width: 100%;
    height: 100%;
    float: left;
    margin: 0;    
    padding: 0;
}

main{
    width: 345px;
    height: 100%;
    float: left;
    margin-left: 5px;
    margin-right: 5px;
    padding: 0;
    margin-top: 10px;
}

section#configuration_form_pannel {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  float: left;
  border-radius: 10px;
  border: 1px solid #aaaaaa;
  padding: 20px;
}

section#configuration_form_pannel div#configuration_form_fields{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  float: left;
  clear: both;
}

section#configuration_form_pannel div#configuration_form_fields div{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  float: left;
  clear: both;
}

section#configuration_form_pannel div#configuration_form_fields div label{
  width: 270px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
  float: left;
  clear: both;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1em;
  color: #555555;
}

section#configuration_form_pannel div#configuration_form_fields div input[type="text"]{
  width: 282px;
  margin-left: auto;
  margin-right: auto;
  padding: 8px;
  float: left;
  clear: both;
  border-radius: 5px;
  border: 1px solid #aaaaaa;
}

section#configuration_form_pannel div#configuration_form_fields div input[type="text"]:focus{
  outline: #b9c7fc solid 1px;
}

section#configuration_form_pannel div#configuration_form_actions{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  float: left;
  clear: both;
}
section#configuration_form_pannel div#configuration_form_actions button:hover{
  background-color: #b9c7fc;
}
section#configuration_form_pannel div#configuration_form_actions button{
  padding: 8px;
  width: 80px;
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
  float: right;
  border-radius: 5px;
  border: 1px solid #aaaaaa;
  cursor: pointer;
}

